In [1]:
from scipy.stats import ttest_1samp
import numpy as np
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

from scipy.stats import shapiro
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
data = pd.read_csv("C:/Users/kokse/Downloads/a_b test ecom - ab_test 2.csv")

In [6]:
data.head(10)

       id     time  con_treat      page  converted
0  851104  11:48.6    control  old_page          0
1  804228  01:45.2    control  old_page          0
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
4  864975  52:26.2    control  old_page          1
5  936923  20:49.1    control  old_page          0
6  679687  26:46.9  treatment  new_page          1
7  719014  48:29.5    control  old_page          0
8  817355  58:09.0  treatment  new_page          1
9  839785  11:06.6  treatment  new_page          1

In [4]:
data.describe()

                  id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

In [5]:
data.con_treat.value_counts()

treatment    147276
control      147202
Name: con_treat, dtype: int64

In [7]:
data.id.nunique()

290584

Почистим данные

In [8]:
data_clean = data[(data['con_treat'] == 'control')&(data['page'] == 'old_page')|(data['con_treat'] == 'treatment')&(data['page'] == 'new_page')]
data_clean.shape

(290585, 5)

In [9]:
data_clean.con_treat.value_counts()

treatment    145311
control      145274
Name: con_treat, dtype: int64

In [10]:
n_cont = data_clean[data_clean['con_treat'] == 'control'].shape[0]
n_test = data_clean[data_clean['con_treat'] == 'treatment'].shape[0]

suc_cont = data_clean[data_clean['con_treat'] == 'control'].converted.sum()
suc_test = data_clean[data_clean['con_treat'] == 'treatment'].converted.sum()

print(n_cont, n_test)
print(suc_cont, suc_test)

145274 145311
17489 17264

In [11]:
from statsmodels.stats import proportion

Проверка с помощью Хи-Квадрат

In [12]:
chisq, pvalue, table = proportion.proportions_chisquare(np.array([suc_cont, suc_test]), 
                                                   np.array([n_cont, n_test]))

# print('Results are ','chisq =%.3f, pvalue = %.3f'%(chisq, pvalue))
print(f'Results are chisq = {round(chisq, 3)}, pvalue ={round(pvalue, 3)}')

Results are chisq = 1.72, pvalue =0.19

Проверка с помощью z-критерия

In [15]:
z_score, z_pvalue = proportion.proportions_ztest(np.array([suc_cont, suc_test]),
                                                   np.array([n_cont, n_test]))

print(f'Results are z_score = {round(z_score, 3)}, pvalue ={round(z_pvalue, 3)}')

Results are z_score = 1.312, pvalue =0.19